
.container {
    text-align: center;
}

h2 {
    margin-bottom: 30px;
}

.inner-div {
    margin-top: 20px;
    border: 2px solid black;
    height: 200px;
    width: 700px;
    text-align: center;
    margin-left: 25%;
}

.box {
    height: 100px;
    width: 100px;
    background-color: violet;
    border: 1px solid black;
}

.div3 {
    background-color: pink;
    height: 200px;
    width: 400px;
}

#ul1 {
    background-color: blue;
}

.divli {
    background-color: greenyellow;
}